{%load humanize%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">House Price Prediction</h1>
            <p class="lead">This is a simple house price prediction tool. Fill given form and see your dream house price!</p>
        </div>
        <hr class="my-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                {% if Price%}
                    {% if Price < 0 %}
                        <h5 class="card-title">House Price: 0</h5>
                        <p class="card-text text-danger">Given input is too low.</p>
                    {%else%}
                        <h5 class="card-title">House Price: <span class="text-success font-weight-bold">{{Price  | intcomma}}</span></h5>
                    {%endif%}
                
                {%else%}
                <h5 class="card-title">House Price: 0</h5>
                {%endif%}
            </div>
        </div>
        <hr class="my-4">
        <form action="{%url 'house_price'%}" method="POST">
            {%csrf_token%}
            <div class="form-group">
                <label for="Income">Average Income</label>
                <input type="number" class="form-control" id="Income" name="Income" required>
            </div>
            <div class="form-group">
                <label for="Age">Average House Age</label>
                <input type="number" class="form-control" id="Age" name="Age" required>
            </div>
            <div class="form-group">
                <label for="Rooms">Number Of Rooms</label>
                <input type="number" class="form-control" id="Rooms" name="Rooms" required>
            </div>
            <div class="form-group">
                <label for="Bedrooms">Number Of Bedrooms</label>
                <input type="number" class="form-control" id="Bedrooms" name="Bedrooms" required>
            </div>
            <div class="form-group">
                <label for="Population">Population Of City</label>
                <input type="number" class="form-control" id="Population" name="Population" required>
            </div>

            <input type="submit" value="Register" class="btn btn-secondary btn-block">
        </form>


    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>